body {
	background-color: #F5EBE0;
}

h1 {
	color: #9C6644;
	text-align: center;
}


h3 {
	color: #280B00;
}

ul {
	color: #280B00;
}

ol {
	color: #280B00;
}

p {
	color: #280B00;
}

a{
color: #9C6644;
}

.center{
	margin-left: auto;
	margin-right: auto;
}